main {
  text-align: center;
  width: 500px;
}

form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, auto);
}

label {
  display: block;
  justify-self: end;
  align-self: center;
}

input {
  align-self: center;
  justify-self: start;
}

fieldset {
}

.choices {
  display: flex;
  flex-direction: column;
  grid-area: 5/1/6/3;
}

input[type="submit"] {
  justify-self: center;
  grid-area: 7/1/8/3;
}
